*{
    margin: 0;
    padding: 0;
}
#banner{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(7, 255, 255, 0.753)), url(software.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}
#logo{
    color: white;
    position: absolute;
    top: 8%;
    left: 8%;
    transform: trnaslatey(-50%);
    z-index: 2;
}
#logo a{
    color: white;
    text-decoration: none;
}
#text1{
    color: #fbfbfb;
        position: absolute;
        top: 15%;
        left: 8%;
        transform: trnaslatey(-50%);
        z-index: 2;
        font-size: 8vw;
        margin: auto;
        line-height: 80px;
        font-family:'Kaushan Script', cursive ;
}
.banner-btn{
    
    
    transform: trnaslatey(-50%);
}
.banner-btn a{
    position: absolute;
    z-index: 1;
    display: inline-block;
    text-decoration: none;
    color: white;
    border:0.5px solid aqua ;
    transition: color 0.5s;
    top: 35%;
    left: 8%;
    transform: translateY(-50%);
}
#btn1{
    position: absolute;
    top: 45%;
    left: 8%;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: aqua;
    z-index: -1;
    transition: 0.5s;
}
.banner-btn a:hover span{
    width: 100%;
}
.banner-btn a:hover{
    color: white;
}
#sidenav{
    width: 100px;
    height: 100vh;
    position: fixed;
    right: -100px;
    top: 0;
    background-color: rgb(2, 154, 255);
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
   list-style: none;
   margin-top: 60px;
   margin-right: 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;

}
#menubtn{
    width: 50px;
    height: 50px;
    background-color:rgb(2, 154, 255) ;
    text-align: center;
    position: fixed;
    right: 10px;
    top: 15px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menubtn img{
    width: 20px;
    margin-top: 15px;
}